
<div class="dialogTitle" [ngStyle]="setting.getDialogTitleStyle(data.width)">
  <div style="height: 10px; background-color: white;"> </div>
  <div style="height: 5px;"> </div>
  <input type="image" src="assets\images\back.png" (click)="closeDialog()" alt="Submit" align="right"
    class="dialogBackBtn">
  Precious Technology
</div>
<br>

<div class="dialogPage">
  <div class="dialogText">
    <b class="aboutDialogSection">
      Overview
    </b>
    <div class="aboutDialogText">
      Precious Technology helps global enterprises reimagine their businesses for the digital age. Through
      innovative technology solutions built around Digital, IoT, Cloud, Automation, Cybersecurity, Analytics,
      Infrastructure Management and Engineering Services.
    </div>

    <br>
    <b class="aboutDialogSection">
      Vision
    </b>
    <div class="aboutDialogText">
      To create a better everyday life for the many people.
    </div>

    <br>
    <b class="aboutDialogSection">
      Culture and values
    </b>
    <div class="aboutDialogText">
      Our culture is our foundation, and we take great pride in it.
    </div>

    <br>
    <b class="aboutDialogSection">
      The five pillars of Precious Technology
    </b>
    <div class="aboutDialogText">
      There are five pillars we strive to uphold that underscore what we do and how we do it. They are:
    </div>

    <div style="padding-left:20px;">
      <br>
      <b class="aboutDialogSection">
        1. Transformation
      </b>
      <div class="aboutDialogText">
        Every one of us is here to transform ourselves, our company, and our world for the better.
      </div>

      <br>
      <b class="aboutDialogSection">
        2. Integrity
      </b>
      <div class="aboutDialogText">
        We don't believe the ends justify the means. Do the right thing.
      </div>

      <br>
      <b class="aboutDialogSection">
        3. Collaboration
      </b>
      <div class="aboutDialogText">
        We’re capable of so much more when we work together.
      </div>

      <br>
      <b class="aboutDialogSection">
        4. Humor
      </b>
      <div class="aboutDialogText">
        Changing the world is hard work. It’s important to have a few laughs along the way.
      </div>

      <br>
      <b class="aboutDialogSection">
        5. Results
      </b>
      <div class="aboutDialogText">
        We set clear goals. We measure our success. We fix what doesn’t work. We deliver.
      </div>
    </div>
  </div>
