.aboutDialogSection
{
  font-size:17px;
  text-align: left;
  font-family: "Sans Roman",Arial,sans-serif;
}


.aboutDialogText
{
  padding-left:0px;
  font-size:17px;
  text-align: left;
  font-family: "Sans Roman",Arial,sans-serif;
}

