<div class="dialogTitle" [ngStyle]="setting.getDialogTitleStyle(data.width)">
  <div style="height: 10px; background-color: white;"> </div>
  <div style="height: 5px;"> </div>
  <input type="image" src="assets\images\back.png" (click)="closeDialog()" alt="Submit" align="right"
    class="dialogBackBtn">
  समर्थ रामदास स्वामी
</div>
<br>

<div class="dialogPage">
  <div class="dialogText">
    जन्म : एप्रिल १६०८
    <br>
    मृत्यू : २ फेबुवारी १६८१
    <br>
    रामदासाचा जन्म मराठवाड्यातील जांब ह्या लहानश्या गावचा. मूळचे नाव नारायण सूर्याजी ठोसर. सिद्धपुरुष म्हणून लोक
    ‘समर्थ रामदास’ म्हणतात. त्यांनी महाराष्ट्रात राम, हनुमान ह्यांची मंदिरे काढली. राजकारण, धर्मकारण जाणीवपुर्वक
    अंतर्भुत करणारे रामदास हे एकमेव महाराष्ट्रीय संत होय. करुणाष्टके, मनाचे श्लोक, सुखकर्ता दुःखहर्ता वार्ता
    विघ्नाची ही त्यांची महाराष्ट्रात घरोघरी म्हटली जाणारी आरती.
    <br>
    समर्थांनी पूर्वसूचना देऊन माघ वद्य शके सोळाशे तीन सन १६८१ रोजी देह ठेवला. हीच दासनवमी होय.
    <br>
    'मनाचे श्लोक' हे समर्थ रामदास स्वामींनी रचलेले मानवी मनास मार्गदर्शनपर असे पद्य आहे.
    <br>
    मराठी पारंपरिक संस्कृतीत समर्थ रामदासकृत 'मनाचे श्लोक' सकाळच्या तसेच सायंकालीन प्रार्थनेत, प्रभातफेरीत, संस्कार
    व सुविचार म्हणून आणि संप्रदायातील शिष्यांकडून भिक्षा मागतानाही म्हटले जात.
    <br>
    या पद्यात श्लोकांची एकूण संख्या २०५ आहे. मनाच्या श्लोकांची रचना ही भुजंगप्रयात वृत्तात आहे. प्रत्येक ओळीत १२
    अक्षरे आहेत.
    <br>
    दासबोधाचे लेखन त्यांनी रायगडाजवळील शिवथरघळीत बसून केले.
    <br>
    चाफळ परिसरात समर्थांची व छत्रपती शिवाजी महाराजांची भेट झाल्याचे उल्लेख इतिहासात आढळतात.
    <br>
    <br>
  </div>
</div>
