/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Load material icons css provided by Google */
@import '~material-design-icons/iconfont/material-icons.css';

.bgImage{
  background-image: url("assets/images/background.png");
}

.custom-dialog-container .mat-dialog-container {
  padding-top: 0px !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 10px !important;
}

.mat-dialog-content {
  max-height: 80vh!important;
}

body{
  margin: 0px;
}

/* Remove the blue border that appears when click on button. */
:focus {outline:0 !important;}

.dialogBackBtn
{
  padding-left:0px;
  padding-right:10px;
  padding-top:5px;
}

.dialogPage
{
  padding-right: 10px !important;
  padding-left: 10px !important;
  padding-top:45px;
  padding-bottom:5px;
  text-align:center;
  color:#152223;
  background-image: url("assets/images/background.png");
}

.dialogText
{
  font-size:17px;
  padding-left:0px;
  padding-right:0px;
  padding-top:0px;
  text-align:left;
  color: #1D0FC3;
}

.dialogTitle
{
  padding-top: 0px !important;
  padding-bottom: 5px !important;
  font-size:20px;
  position: fixed !important;
  z-index: 10001;
  justify-self: start;
  background-color: rgb(230, 108, 44);
  text-align: center;
  color: white;
  font-weight: bold;
}

